html, body {
    height: 100%;
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -34px;
}

/* Set the fixed height of the footer here */
#push, #footer {
    height: 34px;
}
#footer {
    background-color: #eee;
    padding: 4px 0;
}

.divider {
    border-top: 2px solid #eee;
    margin: 10px 0;
}
.lang-selector {
    background-color: #eee;
    margin-bottom: 5px;
    padding: 3px 8px;
}
.lang-selector .btn > b {
    display: block;
    float: left;
    margin: 3px 2px 0 0;
}

.flag {
    width: 16px;
    height: 11px;
    background:url("../img/flags.png") no-repeat;
}

.flag.flag-de {background-position: -16px 0}
.flag.flag-gb {background-position: -32px 0}
.flag.flag-ru {background-position: 0 -11px}
.flag.flag-ua {background-position: -16px -11px}
