<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>404</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="description" lang="en" content="404" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
	</head>
	<body>
		<div class="container jumbotron">
			<h1>Oopsie, 404</h1>
			<p>This site currently has only one page.</p>
			<p><a href="/" class="btn btn-primary btn-lg" role="button">Take me there!</a></p>
		</div>
	</body>
</html>