<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Iurii Kudriavtsev - web developer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="description" lang="en" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/custom.css") }}">
</head>
<body>
	<div id="wrap" class="container">
		<div class="row border"></div>
		{% if profile %}
			<div class="row">
				<div class="col-md-4">
					<h1>{{ profile['firstName'] }} {{ profile['lastName'] }}</h1>
					<h4 class="text-muted">{{ profile['headline'] }}</h4>
					<div class="divider"></div>
					<p>{{ profile['summary'] }}</p>
				</div>
				<div class="col-xs-6 col-md-4 col-md-offset-1">
					<div class="page-header">
						<div class="row">
							<div class="col-sm-5">
								<h4>Phone:</h4>
							</div>
							<div class="col-sm-7">
								<h6 class="text-muted pull-right">{{ profile['phoneNumbers']['values'][0]['phoneNumber'] }}</h6>
							</div>
						</div>
					</div>
					<div class="page-header">
						<div class="row">
							<div class="col-sm-5">
								<h4>Email:</h4>
							</div>
							<div class="col-sm-7">
								<h6 class="text-muted pull-right"><a href="mailto:{{ profile['emailAddress'] }}">{{ profile['emailAddress'] }}</a>
								</h6>
							</div>
						</div>
					</div>
					<div class="page-header">
						<div class="row">
							<div class="col-sm-5">
								<h4>Website</h4>
							</div>
							<div class="col-sm-7">
								<h6 class="text-muted pull-right"><a href="/">{{ profile['memberUrlResources']['values'][0]['url'] }}</a></h6>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-4 col-md-2 pull-right">{{ profile['pictureUrls'] }}
					<img src="{{ profile['pictureUrl'] }}" class="img-thumbnail">
				</div>
			</div>
			<div class="row divider"></div>
			<div class="row">
				<div class="col-md-6">
					<h3>Work Experience</h3>
					<div class="page-header">
						<h5>Python Developer - <a href="http://txtr.com/">txtr</a> | <small>06/2012 - present</small></h5>
					</div>
					<p>web development using django and django cms; frontend and backend development; unit and integration tests</p>
					<div class="page-header">
						<h5>Python Developer - Freelancer | <small>12/2011 - 06/2012</small></h5>
					</div>
					<p>developing CRM for insurance broker agency - web development using python and Django</p>
					<div class="page-header">
						<h5>Php Developer - <a href="http://www.indenso.de/">indenso.</a> | <small>11/2011 - 05/2012</small></h5>
					</div>
					<p>web development using php and CodeIgniter; communication with clients' API using SOAP protocol;</p>
					<div class="page-header">
						<h5>QA, python developer - BusinessNetworks | <small>10/2011 - 11/2011</small></h5>
					</div>
					<p>different types of testing (unit tests, integration tests, end-to-end testing); administration tools implementation using Django admin; fixing bugs;</p>
					<div class="page-header">
						<h5>python/web developer - <a href="http://iasa.kpi.ua/">NTUU 'KPI'</a> | <small>03/2010 - 09/2011</small></h5>
					</div>
					<p>“MMSA” department Internet-portal developing using Plone CMS – creating skin, (creating portlets, widgets, customizing existing portlets, logo, footer, current user actions, login and logout forms); Internet-portal architecture implementation; working with users (user roles setting, registration setting, etc.); Internet-portal visual design; Internet-portal content filling</p>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-xs-12">
							<h3>Education</h3>
							<div class="page-header">
								<h5>National Technical University of Ukraine 'Kyiv Polytechnic Institute' | <small>09/2005 - 06/2011</small></h5>
								<h5>Master degree, Computer Sciences</h5>
							</div>
							<ul>
								<li>honored Magister's degree;</li>
								<li>Prize-winner (II place) of ІІ Ukrainian Engineering competitions "UBEC" in "Case Study" category (analytic situational task) | <small class="text-muted">04/2010</small></li>
								<li>participant (report) of the XI International Conference on Science and Technology "System Analysis and Information Technologies", topic: "Intelligent Systems for Decision-Making" | <small class="text-muted">05/2009</small></li>
								<li>participant of the VII International Students` Conference on Science "Applied Mathematics and Informatics", topic: "Modeling in Economics and Financial Problems" | <small class="text-muted">04/2009</small></li>
								<li>science publication named "The analysis of a forecasting effectiveness on the basis of Brown’s test rows" in "New technologies" magazine;</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h3>Skills</h3>
							<div class="row">
								<div class="col-xs-4">
									<h4><span class="label label-default">Python</span></h4>
									<h4><span class="label label-default">PHP</span></h4>
									<h4><span class="label label-default">SQL</span></h4>
									<h4><span class="label label-default">bash</span></h4>
									<h4><span class="label label-default">git</span></h4>
									<h4><span class="label label-default">fabric</span></h4>
								</div>
								<div class="col-xs-4">
									<h4><span class="label label-default">HTML5</span></h4>
									<h4><span class="label label-default">CSS3</span></h4>
									<h4><span class="label label-default">SCSS</span></h4>
									<h4><span class="label label-default">JavaScript</span></h4>
									<h4><span class="label label-default">jinja2</span></h4>
									<h4><span class="label label-default">TAL</span></h4>
								</div>
								<div class="col-xs-4">
									<h4><span class="label label-default">Django</span></h4>
									<h4><span class="label label-default">Plone</span></h4>
									<h4><span class="label label-default">JQuery</span></h4>
									<h4><span class="label label-default">Foundation</span></h4>
									<h4><span class="label label-default">Bootstrap</span></h4>
									<h4><span class="label label-default">MySQL</span></h4>
									<h4><span class="label label-default">PostgreSQL</span></h4>
									<h4><span class="label label-default">Oracle</span></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% else %}
				<div class="jumbotron row">
					<h1>Well, it was worth a try...</h1>
					<p>Looks like something is wrong with <a href="http://www.linkedin.com">linkedin</a>. You can notify me that this happened by <a href="mailto:{{ config['EMAIL'] }}">email</a> or by sending me a short message right now.</p>
				</div>
				<div class="row">
					<div class="col-xs-offset-1 col-xs-10 col-md-6">
						{% include "short_message_form.html" %}
					</div>
				</div>
			{% endif %}
			<div class="about row">
				<h4>About this site | <small>This site is created using <a href="http://flask.pocoo.org/">Flask</a> and gets fed with my <a href="{{ config['LINKEDIN_PUBLIC_PROFILE_URL'] }}">linkedin profile</a> info thanks to <a href="https://github.com/ozgur/python-linkedin">python-linkedin</a>.</small></h4>
			</div>
			<div id="push"></div>
		</div>
		<div id="footer" class="container">
			<div class="row">
				<div class="row">
					<div class="col-xs-6">
						{# since footer is shown even when linkedin API is not available, we cannot use API to get profile url #}
						<a href="{{ config['LINKEDIN_PUBLIC_PROFILE_URL'] }}" class="pull-right">
							<img src="{{ url_for('static', filename="img/linkedin.png") }}">
						</a>
					</div>
					<div class="col-xs-6">
						<a href="{{ config['FACEBOOK_PROFILE_URL'] }}" class="pull-left">
							<img src="{{ url_for('static', filename="img/facebook.png") }}">
						</a>
					</div>
				</div>
			</div>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename="js/jquery-2.0.3.min.js") }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$(document).on('submit', 'form.short-message', function(e){
			e.preventDefault();
			var $this = $(this);
			$this.find('button').button('loading');
			$.post("{{ url_for('message') }}", $this.serialize(), function(data){
				$this.replaceWith(data);
			});
		});
	});
	</script>
</body>
</html>