<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Iurii Kudriavtsev - web developer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" lang="en" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/custom.css") }}">
</head>
<body>
	<div id="wrap" class="container">
		<div class="row border"></div>
		{% include "flash_messages.html" %}
		{% if profile %}
			<div class="row">
				<div class="col-md-4">
					<h1>{{ profile['firstName'] }} {{ profile['lastName'] }}</h1>
					<h4 class="text-muted">{{ profile['headline'] }}</h4>
					<div class="divider"></div>
					<p>{{ profile['summary'] }}</p>
				</div>
				<div class="col-xs-6 col-md-4 col-md-offset-1">
					<div class="page-header">
						{% if profile['phoneNumbers']['_total'] %}
							<div class="row">
								<div class="col-sm-5">
									<h4>Phone:</h4>
								</div>
								<div class="col-sm-7">
									<h6 class="text-muted pull-right">{{ profile['phoneNumbers']['values'][0]['phoneNumber'] }}</h6>
								</div>
							</div>
						{% endif %}
					</div>
					<div class="page-header">
						<div class="row">
							<div class="col-sm-5">
								<h4>Email:</h4>
							</div>
							<div class="col-sm-7">
								<h6 class="text-muted pull-right"><a href="mailto:{{ profile['emailAddress'] }}">{{ profile['emailAddress'] }}</a>
								</h6>
							</div>
						</div>
					</div>
					<div class="page-header">
						<div class="row">
							<div class="col-sm-5">
								<h4>Location:</h4>
							</div>
							<div class="col-sm-7">
								<h6 class="text-muted pull-right">{{ profile['location']['name'] }}</h6>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-4 col-md-2 pull-right">
					<img src="{{ profile['pictureUrls']['values'][0] }}" class="img-thumbnail img-responsive">
					<a href="{{ url_for('pdf') }}" id="get-pdf" class="btn btn-primary btn-sm get-pdf" data-loading-text="Download started...">Download PDF</a>
				</div>
			</div>
			<div class="row divider"></div>
			<div class="row">
				{% if profile['positions']['_total'] %}
					<div class="col-md-6">
						<h3>Work Experience</h3>
						{% for position in profile['positions']['values'] %}
							<div class="page-header">
								<h5>{{ position['title'] }} - {{ position['company']['name'] }} | <small>{{ position['startDate']['month'] }}/{{ position['startDate']['year'] }} - {% if not position['isCurrent'] %}{{ position['endDate']['month'] }}/{{ position['endDate']['year'] }}{% else %}present{% endif %}</small></h5>
							</div>
							<p>{{ position['summary'].replace('\n', '<br>')|safe }}</p>
						{% endfor %}
					</div>
				{% endif %}
				<div class="col-md-6">
					{% if profile['educations']['_total'] %}
						<div class="row">
							<div class="col-xs-12">
								<h3>Education</h3>
								{% for education in profile['educations']['values'] %}
									<div class="page-header">
										<h5>{{ education['schoolName'] }} | <small>{{ education['startDate']['year'] }} - {{ education['endDate']['year'] }}</small></h5>
										<h5>{{ education['degree'] }}, {{ education['fieldOfStudy'] }}</h5>
									</div>
									<ul>
										{% for note in education['notes'].split('\n') %}
											<li>{{ note }}</li>
										{% endfor %}
									</ul>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					{% if profile['skills']['_total'] %}
						<div class="row">
							<div class="col-xs-12">
								<h3>Skills</h3>
								<div class="row">
									{% for column in profile['skills']['values']|slice(3) %}
										<div class="col-xs-4">
											{% for skill in column %}
												<h4><span class="label label-default">{{ skill['skill']['name'] }}</span></h4>
											{% endfor %}
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					{% endif %}
					{% if profile['recommendationsReceived']['_total'] %}
						<div class="row">
							<div class="col-xs-12">
								<h3>Recommendations</h3>
								{% for recommendation in profile['recommendationsReceived']['values'] %}
									<div class="page-header">
										<h5>{{ recommendation['recommender']['firstName'] }} {{ recommendation['recommender']['lastName'] }} | <small>{{ recommendation['recommendationType']['code'] }}</small></h5>
									</div>
									<p>{{ recommendation['recommendationText'].replace('\n', '<br>')|safe }}</p>
								{% endfor %}
							</div>
						</div>
					{% endif %}
				</div>
			</div>
			<div class="divider"></div>
			<div class="row">
				<div class="col-md-6">
					<h3>Want to get in touch with me?</h3>
					<p>Feel free to send me an <a href="mailto:{{ config['EMAIL'] }}">email</a> or leave a short message right now.</p>
					<br>
					{% include "short_message_form.html" %}
					<br>
				</div>
			</div>
			{% else %}
				<div class="jumbotron row">
					<h1>Well, it was worth a try...</h1>
					<p>Strange, could not get profile info from <a href="http://www.linkedin.com">linkedin</a>. You can notify me that this happened by <a href="mailto:{{ config['EMAIL'] }}">email</a> or by sending me a short message right now.</p>
				</div>
				<div class="row">
					<div class="col-xs-offset-1 col-xs-10 col-md-6">
						{% include "short_message_form.html" %}
					</div>
				</div>
			{% endif %}
			<div id="push"></div>
		</div>
		<div id="footer" class="container">
			<div class="about row">
				<h4>About this site | <small>This site is created using <a href="http://flask.pocoo.org/">Flask</a> and gets fed with my <a href="{{ config['LINKEDIN_PUBLIC_PROFILE_URL'] }}">linkedin profile</a> info thanks to <a href="https://github.com/ozgur/python-linkedin">python-linkedin</a>. The PDF is generated on the fly with the help of <a href="https://bitbucket.org/rptlab/reportlab">reportlab</a>. I would appreciate if you <a href="https://github.com/ikudriavtsev/personal">fork</a> and improve this project.</small></h4>
			</div>
			<div class="row">
				<div class="row">
					<div class="col-xs-6">
						{# since footer is shown even when linkedin API is not available, we cannot use API to get profile url #}
						<a href="{{ config['LINKEDIN_PUBLIC_PROFILE_URL'] }}" class="pull-right">
							<img src="{{ url_for('static', filename="img/linkedin.png") }}">
						</a>
					</div>
					<div class="col-xs-6">
						<a href="{{ config['GITHUB_PROFILE_URL'] }}" class="pull-left">
							<img src="{{ url_for('static', filename="img/github.png") }}">
						</a>
					</div>
				</div>
			</div>
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename="js/jquery-2.0.3.min.js") }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename="js/charCount.js") }}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		// dismissable alerts
		$(".alert").alert();
		// ajax submit of the short message form
		$(document).on('submit', 'form.short-message', function(e) {
			e.preventDefault();
			var $this = $(this);
			$this.find('button').button('loading');
			$.post("{{ url_for('message') }}", $this.serialize(), function(data) {
				$this.replaceWith(data);
				// re-init characters counter
				$('form.short-message textarea').charCount({
					allowed: 300,
					css: 'label label-default',
					cssWarning: 'label-warning',
					cssExceeded: 'label-danger'
				});
			});
		});

		// characters counter
		$('form.short-message textarea').charCount({
			allowed: 300,
			css: 'label label-default',
			cssWarning: 'label-warning',
			cssExceeded: 'label-danger'
		});

		// get PDF button
		$('#get-pdf').click(function(e) {
			$(this).button('loading');
		});
	});
	</script>
</body>
</html>