<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Iurii Kudriavtsev - web developer</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" lang="en" content="" />
  <meta name="keywords" content="" />
  <!-- <link rel="shortcut icon" href="" type="image/x-icon"> -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
</head>
<body>
  <div class="container">
    <div class="row lang-selector">
      <div class="btn-group btn-group-xs pull-right">
        <a href="#" class="btn btn-default"><b class="flag flag-de"></b>DE</a>
        <a href="#" class="btn btn-primary disabled"><b class="flag flag-gb"></b>EN</a>
        <a href="#" class="btn btn-default"><b class="flag flag-ru"></b>RU</a>
        <a href="#" class="btn btn-default"><b class="flag flag-ua"></b>UK</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h1>Iurii Kudriavtsev</h1>
        <h4 class="text-muted">Web Developer</h4>
        <div class="divider"></div>
        <p>I like creating web apps, mostly using python. Always tend to learn something new, have an ability for self development.</p>
        <p>I think I am a good programmer already, but my goal is to become an expert in IT, such as - to make technology and development process decisions, to solve the problems at the edge of the different techologies contacts.</p>
      </div>
      <div class="col-xs-6 col-md-4 col-md-offset-1">
        <div class="page-header">
          <div class="row">
            <div class="col-sm-5">
              <h4>Phone:</h4>
            </div>
            <div class="col-sm-7">
              <h6 class="text-muted pull-right">+4917699645062</h6>
            </div>
          </div>
        </div>
        <div class="page-header">
          <div class="row">
            <div class="col-sm-5">
              <h4>Email:</h4>
            </div>
            <div class="col-sm-7">
              <h6 class="text-muted pull-right"><a href="mailto:iurii.kudriavtsev@gmail.com">iurii.kudriavtsev@gmail.com</a>
              </h6>
            </div>
          </div>
        </div>
        <div class="page-header">
          <div class="row">
            <div class="col-sm-5">
              <h4>Website:</h4>
            </div>
            <div class="col-sm-7">
              <h6 class="text-muted pull-right"><a href="/">iuriikudriavtsev.com</a></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-md-2 pull-right">
        <img src="http://placekitten.com/g/200/300" class="img-responsive img-thumbnail">
      </div>
    </div>
    <div class="row divider">
    </div>
  </div>
  <script type="text/javascript" src="../static/js/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
</body>
</html>