{% macro render_short_message_form(form) %}
	<form class="form-horizontal" role="form">
		{{ form.hidden_tag() }}
		{% for field in form %}
			<div class="form-group">
				<div class="col-sm-5">
					{{ field(placeholder=field.label.text, class="form-control") }}
					<small class="help-block">{{ field.description }}</small>
				</div>
			</div>
		{% endfor %}
		<div class="form-group">
			<div class="col-sm-2">
				<button type="submit" class="btn btn-primary">Send</button>
			</div>
		</div>
	</form>
{% endmacro %}