<form class="form-horizontal short-message" role="form">
	{{ form.hidden_tag() }}
	<div class="form-group">
		<div class="col-sm-5">
				{{ form.email(placeholder=form.email.label.text, class="form-control") }}
			<small class="help-block">{{ form.email.description }}</small>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-5">
				{{ form.message(placeholder=form.message.label.text, class="form-control", rows=3) }}
			<small class="help-block">{{ form.message.description }}</small>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2">
			<button type="submit" class="btn btn-primary" data-loading-text="Sending...">Send</button>
		</div>
	</div>
</form>